* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  gap: 50px;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgb(18, 15, 15);
  padding: 12px;
  background-color: #dcd4d4;
  height: 4rem;
  font-size: 3rem;
  font-weight: 700;
  border: 2px solid;
  width: 100%;
}

.calculator {
  flex-direction: column;
  width: 20em;
  display: flex;
}

.btnsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.Btns {
  width: 5rem;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 15px;
}

.MathOperations {
  background-color: #ff7300;
}

.calcZero {
  width: 10rem;
}

.quotesContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 13%;
  scroll-behavior: smooth;
}

.category {
  font-size: 45px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.quote {
  font-size: 40px;
  margin: 10px 0;
  text-align: center;
}

.author {
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  font-style: italic;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px 20px 30px;
  background-color: #ff7300;
  color: #fff;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav ul li {
  padding: 0 22px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  font-size: 20px;
}

nav h1 {
  font-size: 42px;
  font-family: sans-serif;
}

.homePage {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 70px 25px;
  font-family: sans-serif;
}

.homePage h1 {
  font-size: 40px;
  color: rgb(0, 0, 0);
}

.paragraph1,
.paragraph2 {
  color: black;
  font-size: 25px;
}

.calTitle {
  margin: 20px;
  font-size: 30px;
}

.main {
  display: flex;
  margin: 7% 0;
  gap: 70px;
}
